*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 10rem;
    background-color: rgba(169, 169, 169, 0.5);

}

.searchbar-container > input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
}


.searchbar-container > ::placeholder {
    color: rgb(221, 221, 221);
  }

.searchIcon{
    height: 60%;
    cursor: pointer;
}
