*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 3rem;
  padding: 3rem 6rem ;
  background-color: black;
}

.moviecards-wrapper{
  display: grid;
  place-content: space-around;
  grid-template-columns: repeat(4, 180px);
  grid-template-rows: 205px 205px;
  grid-gap: 2rem;
  overflow: hidden; 
}
